//Variables
$dark: black;
$semitransparent: rgba(0, 0, 0, 0.6);
$light: white;
$firstFont: "Oxygen", sans-serif;
$secoundFont: "Merriweather", serif;

//Breakpoints
$smallScreens: 240px;
$largeScreens: 844px;